/* Baseline reset */
/* Baseline reset */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans");
body {
  margin: 0;
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89); }

article {
  padding: 2rem 1rem; }

/* Page Style Imports */
main {
  margin: 5% 0; }

.contactHeader {
  text-align: center; }

.contact {
  width: 100%; }

.picOfMe {
  height: 420px;
  width: 100%;
  object-fit: cover;
  border-right: solid white 1rem; }

iframe {
  width: 100%;
  height: 300px; }

form {
  margin-top: 10px; }

.form-control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #321749;
  font-size: 18px;
  margin-bottom: 15px; }

.submit:hover {
  background-color: #937fa4; }

/*CONTACT PAGE DESKTOP*/
@media screen and (min-width: 720px) {
  .picOfMe {
    width: 20%; }
  .contactMain {
    display: flex;
    justify-content: center; }
  iframe {
    width: 500px;
    height: 190px; }
  .contact {
    display: flex;
    flex-direction: column;
    width: 500px; }
  main {
    margin: 5% 0; } }

/* I spent too many hours trying to 
get css grids to work. I learned enough to create
a basic grid-template-column and row but could
not figure out how to make it responsive.
I tried using grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
but could not get it to work. */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center; }

.column {
  flex: 30%;
  width: 30%;
  padding: 0 4px; }
  .column .karol {
    width: calc(200% + 8px); }
  .column .italy {
    width: calc(200% + 8px); }
  .column .paulina {
    height: 1008px; }
  .column div {
    width: auto;
    height: 500px;
    margin-top: 8px; }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 500px;
    object-fit: cover; }

.lastSmall {
  position: fixed;
  visibility: hidden; }

@media screen and (max-width: 1200px) {
  .lastSmall {
    position: static;
    visibility: visible; }
  .lastLarge {
    position: fixed;
    visibility: hidden; }
  .column {
    flex: 48%;
    max-width: 48%; }
    .column .karol {
      width: 100%; }
    .column .italy {
      width: 100%; }
    .column .paulina {
      height: 500px; }
    .column div {
      width: auto;
      height: auto;
      margin-top: 0; } }

@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

/* Clear Fix */
.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/* Global Variable Scope*/
/* Add styles here */
/* This is for the nav bar */
.navbar {
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  background-color: #f0f0f0;
  display: flex;
  height: 50px; }
  .navbar .logo {
    flex-grow: 3;
    height: 100%;
    padding: 10px; }
    .navbar .logo img {
      height: 95%;
      padding-top: 2px;
      width: auto; }
  .navbar::before {
    content: ' ';
    position: absolute;
    top: 0px;
    width: 100%; }
  .navbar .nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .navbar .nav a {
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      color: #321749; }
  .navbar .menu-item {
    border-bottom: 2px solid transparent;
    flex-grow: 1;
    letter-spacing: 0.5px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .navbar .menu-item:hover {
      background-color: #f0f0f0;
      cursor: pointer; }
    .navbar .menu-item.active {
      border-color: #654d79; }

/* This is for the footer */
footer * {
  margin: 0;
  height: 100%; }

footer {
  padding-top: 3rem;
  height: 20px; }
  footer h5 {
    height: 20px;
    padding-bottom: 20px;
    width: 90%;
    border-bottom: solid black 3px; }
  footer a {
    text-decoration: none; }
  footer .icons {
    height: 40px;
    width: 150px;
    background-color: white;
    margin-bottom: 2rem; }

/* This is for the homepage */
/* Hero Banner */
.main-photo {
  background-image: url(mainHeader.jpg);
  background-color: #321749;
  height: 28rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .main-photo .inner-text {
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
    height: auto;
    padding: 1rem;
    position: relative;
    transform: translate(0%, 50%); }
    .main-photo .inner-text h1 {
      color: white;
      font-size: 4em; }
    .main-photo .inner-text h2 {
      color: white;
      font-size: 1em;
      margin: 20px 0; }

/* Welcome */
.about-section-main {
  margin: 1rem;
  height: auto;
  text-align: center; }
  .about-section-main p {
    height: auto;
    margin: 1rem; }

.quotes {
  height: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.888);
  display: flex;
  flex-direction: column;
  padding: 2rem 10%;
  margin: auto;
  color: white; }
  .quotes .person {
    width: 90%;
    padding: 0 0 5rem;
    margin: auto; }
    .quotes .person img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .quotes .person h2 {
      text-align: center;
      padding: 0.5rem;
      color: white; }

.about-photo {
  background-image: url(about.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.about-text {
  background-color: rgba(255, 255, 255, 0.444);
  text-align: left;
  padding: 2rem;
  margin: 0 0 0 auto; }
  .about-text h1 {
    font-size: 3em;
    color: #321749; }
    .about-text h1 .highlight {
      text-decoration: none;
      color: #937fa4; }
  .about-text h2 {
    width: 100%;
    font-size: 1em;
    line-height: 40px; }

/* Desktop View */
@media screen and (min-width: 720px) {
  .main-photo {
    height: 45rem; }
    .main-photo .inner-text {
      border: solid 2px white;
      width: 630px;
      position: absolute;
      margin: 150px auto 0;
      padding: 2rem;
      right: 0;
      left: 0;
      transform: none; }
      .main-photo .inner-text h1 {
        font-size: 7em; }
      .main-photo .inner-text h2 {
        font-size: 2em;
        margin: 20px; }
  /* Welcome */
  .about-section-main {
    margin: 3rem; }
  .quotes {
    width: 90%;
    flex-direction: row;
    padding: 2rem 5%; }
    .quotes .person {
      width: 30%;
      margin: 1rem auto; }
      .quotes .person img {
        border: solid 2px white; }
      .quotes .person h2 {
        padding: 1rem; }
  .about-photo {
    height: 70%; }
  .about-text {
    width: 60%;
    height: 700px;
    border-left: solid 2px white; }
    .about-text h1 {
      font-size: 5em; }
    .about-text h2 {
      width: 60%;
      font-size: 1.3em;
      line-height: 45px; } }
